:root {
  /*
   Color definitions
  */

  /* Brand Colors */
  --color-brand-maroon: hsla(350, 47%, 21%, 1);
  --color-brand-maroon-2: hsla(350, 20%, 64%, 1);
  --color-brand-maroon-3: hsla(350, 39%, 89%, 1);
  --color-brand-orange: hsla(9, 100%, 63%, 1);
  --color-brand-orange-2: hsla(9, 90%, 80%, 1);
  --color-brand-cream: hsla(43, 33%, 96%, 1);

  /* Primary Colors */

  /* Secondary Colors */

  /* Neutral Colors */
  --white: hsla(0, 0%, 100%, 1);
  --neutral-200: hsla(204, 4%, 75.5%, 1);
  --neutral-300: hsla(210, 3.6%, 67.5%, 1);
  --neutral-400: hsla(210, 4%, 56%, 1);
  --neutral-500: hsla(210, 3.7%, 42%, 1);
  --neutral-600: hsla(210, 3.3%, 35.7%, 1);
  --neutral-800: hsla(204, 4%, 26%, 1);
  --neutral-900: hsla(210, 3.6%, 16.5%, 1);
  --black: hsla(0, 0%, 0%, 1);

  /* State */
  --error-500: hsla(2.6, 72.3%, 50.4%, 1);
  --success-300: hsla(122.1, 39.7%, 71.4%, 1);
  --success-500: hsla(122.4, 39.4%, 49.2%, 1);
  --highlight: hsla(180, 100%, 42.9%, 1);
  --alert-500: hsla(45, 100%, 51.4%, 1);

  /*
   Color Implementation
  */

  /* State */
  --hover-color: var(--color-brand-orange);
  --active-color: var(--color-brand-maroon);
  --focus-color: var(--color-brand-orange);
  --error-color: var(--error-500);
  --success-color: var(--success-300);
  --disabled-color: var(--color-brand-cream);
  --disabled-bg-color: var(--color-brand-maroon-2);
  --disabled-border-color: var(--neutral-800);
  --instock-color: var(--success-300);
  --lowstock-color: var(--alert-500);
  --outofstock-color: var(--neutral-200);

  /* Header */
  --header-bg-color: var(--color-brand-maroon);
  --header-logo-color: var(--color-brand-orange);
  --header-text-color: var(--color-brand-orange);

  /* Footer */
  --footer-bg-color: var(--color-brand-maroon);
  --footer-logo-color: var(--color-brand-orange);
  --footer-text-color: var(--color-brand-cream);

  /* Main Nav */
  --main-nav-bg: var(--color-brand-maroon);

  /* Body */
  --body-bg: var(--color-brand-cream);
  --body-color: var(--color-brand-maroon);
  --selection-bg-color: var(--color-brand-maroon-3);
  --selection-color: var(--color-brand-orange);
  --scrim-color: var(--neutral-900);

  /* Links */
  --link-color: var(--color-brand-maroon, #4d1c24);
  --link-color-hover: var(--color-brand-maroon, #4d1c24);
  --link-color-active: var(--color-brand-maroon, #4d1c24);

  /* Footer */
  --footer-text-color: var(--color-brand-cream, #f5f0e6);
  --footer-bg-color: var(--color-brand-maroon, #4d1c24);

  /* Forms */
  --input-border-color: var(--color-brand-maroon, #4d1c24);
  --input-bg-coolor: var(--color-brand-cream);
  --input-label-color: var(--color-brand-maroon, #4d1c24);
  --input-button-bg-color: var(--color-brand-maroon, #4d1c24);
  --input-field-color: var(--color-brand-maroon, #4d1c24);
  --input-icon-color: var(--color-brand-maroon, #4d1c24);
  --input-icon-color-hover: var(--color-brand-cream);

  /* Misc */
  --divider-color: var(--color-brand-maroon, #4d1c24);
  --dialog-bg: var(--color-brand-cream);
}
