form,
.form {
  --input-padding-x: var(--spacer-3);
  --input-padding-y: 11px;
  --label-color: var(--input-label-color);
  --field-color: var(--input-field-color);
  --status-color: var(--input-border-color);
  --border: var(--input-border-width) solid var(--status-color);
  --input-width: clamp(200px, 400px, 100%);
  position: relative;
  width: 100%;
  max-width: 100%;
  @media (--md-n-above) {
    max-width: var(--form-max-width);
  }

  fieldset {
    display: grid;
    gap: var(--spacer-2);
    margin-bottom: var(--spacer-3);
    padding: 0;
    border: none;
  }

  legend {
    font-size: calc(24rem / 16);
    margin-bottom: var(--spacer-3);
  }

  label {
    color: var(--input-label-color);
    font-size: var(--label-font-size);
  }

  input[type='text'],
  input[type='email'],
  input[type='tel'],
  input[type='password'],
  input[type='search'],
  select {
    font-size: var(--input-font-size);
    background-color: var(--input-bg-color);
    width: 100%;
    color: var(--field-color);
    border: var(--border);
    border-radius: var(--input-border-radius);
    padding-top: var(--input-padding-y);
    padding-bottom: var(--input-padding-y);
    padding-right: var(--input-padding-x);
    padding-left: var(--input-padding-x);

    &::selection {
      background-color: var(--input-button-bg-color);
    }
  }

  input[type='text'],
  input[type='email'],
  input[type='tel'],
  input[type='password'],
  input[type='search'] {
    &::placeholder {
      color: var(--input-label-color);
    }
  }

  &.error {
    --status-color: var(--error-color);
  }

  &.success {
    --status-color: var(--success-color);
  }

  & :focus-visible {
    outline: var(--focus-outline);
  }

  /* Form group for spacing fields inside of a fieldset */
  .form-group {
    label {
      display: block;
      margin-bottom: var(--spacer-1);
    }
  }

  /* Input with hidden label */
  .floating-label-input {
    --input-offset: 14px;
    --label-offset: 2px;
    --label-top: auto;
    --label-font-size: inherit;

    position: relative;
    width: var(--input-width);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: var(--border-radius);

    &:hover,
    &:active {
      --label-color: var(--green-500);
    }

    &.error {
      --label-color: var(--error-color);
    }

    & label {
      position: absolute;
      top: var(--label-top);
      left: var(--input-padding-x);
      transition: all var(--global-transition);
      user-select: none;
    }

    & input {
      &[type='text'],
      &[type='email'],
      &[type='tel'],
      &[type='password'],
      &[type='search'] {
        /* Move label up & make small when entering text,
      placeholder with an empty space requried to work */
        &:not(:placeholder-shown) {
          padding-top: var(--input-offset);

          & + label {
            --label-top: var(--label-offset);
            --label-font-size: 10px;
          }
        }
      }
    }
  }

  /* Input with button attached */
  .input-button-wrapper {
    border: var(--input-border-width) solid var(--color-brand-orange);
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
    margin-top: var(--spacer-3);

    @media (--md-n-above) {
      grid-template-columns: 2fr 1fr;
    }

    & input {
      &[type='text'],
      &[type='email'],
      &[type='tel'],
      &[type='password'],
      &[type='search'] {
        margin: 0;
        border: none;
      }
    }

    & button,
    & .button input[type='submit'] {
      border: none;
      position: relative;
      z-index: 1;
      padding: var(--input-padding-y) var(--input-padding-x);
    }
  }

  .status-message {
    /* Form Submit Success/Error message */
    width: var(--input-width);
    margin: var(--spacer-1) auto 0 auto;
    padding-top: var(--input-padding);
    color: var(--status-color);
    text-align: center;
    letter-spacing: 0.01em;
  }
}

/* Focus styles for input-button-wrapper */
/* Remove outline for users not using keyboards */

form:has(.input-button-wrapper),
.form:has(.input-button-wrapper) {
  & :focus-visible {
    outline: none;
  }
}

/* Outline for users using keyboards */
[data-whatintent='keyboard'] form:has(.input-button-wrapper),
[data-whatintent='keyboard'] .form:has(.input-button-wrapper) {
  & :focus-visible {
    outline: var(--color-brand-orange) solid 4px;
    outline-offset: 0px;
  }
}

select,
[role='combobox'] {
  --select-color: var(--color-brand-maroon);
  --select-border-radius: 0px;
  --select-border-width: 2px;
  --select-border-color: var(--color-brand-maroon);
  --select-border-color-hover: var(--color-brand-orange);
  --select-background-color: var(--color-brand-cream);
  --select-padding-x: var(--spacer-3);
  --select-padding-y: var(--spacer-2);

  color: var(--select-color);
  border-radius: var(--select-border-radius);
  border: var(--select-border-width) solid var(--select-border-color);
  background-color: var(--select-background-color);
  padding: var(--select-padding-y) var(--select-padding-x);
  font-size: calc(14rem / 16);

  &:hover {
    border-color: var(--select-border-color-hover);
  }
}
