table {
  --table-spacing: var(--spacer-3);
  width: 80%;
  margin: 0 auto;
  table-layout: fixed;
  border-collapse: collapse;
  text-align: left;
}

th,
td {
  padding: var(--spacer-1);
  vertical-align: top;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

th {
  font-weight: var(--font-h6--weight);
}

thead {
  tr:last-of-type {
    td,
    th {
      padding-bottom: var(--table-spacing);
    }
  }
}

tbody,
tfoot {
  border-top: var(--border-default);

  tr:first-of-type {
    td,
    th {
      padding-top: var(--table-spacing);
    }
  }

  tr:last-of-type {
    td,
    th {
      padding-bottom: var(--table-spacing);
    }
  }
}
