:root {
  /* Font families */
  --font-family--driphaus: 'driphaus', Arial, sans-serif;
  --font-family--soehne-mono: 'soehne-mono', Arial, sans-serif;
  --font-heading--family: var(--font-family--soehne-mono);
  --font-subheading--family: var(--font-family--soehne-mono);
  --font-heading--style--default: normal;
  --font-heading--weight--default: 400;
  --font-heading--case--default: title;
  --font-heading--line-height--default: 1.4;

  /* Body */
  --font-body--family: var(--font-family--soehne-mono);
  --font-body--style: normal;
  --font-body--weight: 500;
  --font-body--line-height: 1.2;
  --font-body--case: initial;
  --font-body--size: var(--font-size-fluid-0);

  /* Subheading */
  --font-subheading--style: normal;
  --font-subheading--weight: 400;

  /* Accent */
  --font-accent--family: var(--font-family--driphaus);
  --font-accent--style: normal;
  --font-accent--weight: 400;
  --font-accent--size: var(--font-size-fluid-3);
  --font-accent--line-height: 1.1;
  --font-accent--letter-spacing: normal;
  --font-accent--case: uppercase;

  /* Sizes, line heights, letter spacing, case for each type */
  /* H1 */
  --font-h1--family: var(--font-heading--family);
  --font-h1--style: var(--font-heading--style--default);
  --font-h1--weight: 300;
  --font-h1--size: var(--font-size-fluid-3);
  --font-h1--line-height: var(--font-heading--line-height--default);
  --font-h1--letter-spacing: normal;
  --font-h1--case: var(--font-heading--case--default);

  /* H2 */
  --font-h2--family: var(--font-heading--family);
  --font-h2--style: var(--font-heading--style--default);
  --font-h2--weight: var(--font-heading--weight--default);
  --font-h2--size: var(--font-size-fluid-2);
  --font-h2--line-height: var(--font-heading--line-height--default);
  --font-h2--letter-spacing: normal;
  --font-h2--case: var(--font-heading--case--default);

  /* H3 */
  --font-h3--family: var(--font-heading--family);
  --font-h3--style: var(--font-heading--style--default);
  --font-h3--weight: var(--font-heading--weight--default);
  --font-h3--size: var(--font-size-fluid-1);
  --font-h3--line-height: var(--font-heading--line-height--default);
  --font-h3--letter-spacing: normal;
  --font-h3--case: var(--font-heading--case--default);

  /* H4 */
  --font-h4--family: var(--font-heading--family);
  --font-h4--style: var(--font-heading--style--default);
  --font-h4--weight: var(--font-heading--weight--default);
  --font-h4--size: var(--font-size-fluid-1);
  --font-h4--line-height: var(--font-heading--line-height--default);
  --font-h4--letter-spacing: normal;
  --font-h4--case: var(--font-heading--case--default);

  /* H5 */
  --font-h5--family: var(--font-heading--family);
  --font-h5--style: var(--font-heading--style--default);
  --font-h5--weight: var(--font-heading--weight--default);
  --font-h5--size: var(--font-size-fluid-0);
  --font-h5--line-height: var(--font-heading--line-height--default);
  --font-h5--letter-spacing: normal;
  --font-h5--case: var(--font-heading--case--default);

  /* H6 */
  --font-h6--family: var(--font-heading--family);
  --font-h6--style: var(--font-heading--style--default);
  --font-h6--weight: 500;
  --font-h6--size: var(--font-size-fluid-0);
  --font-h6--line-height: var(--font-heading--line-height--default);
  --font-h6--letter-spacing: normal;
  --font-h6--case: var(--font-heading--case--default);

  /* Paragraph */
  --font-paragraph--family: var(--font-body--family);
  --font-paragraph--style: normal;
  --font-paragraph--weight: 400;
  --font-paragraph--size: var(--font-body--size);
  --font-paragraph--line-height: var(--font-body--line-height);
  --font-paragraph--letter-spacing: normal;
  --font-paragraph--case: var(--font-body--case);

  /* Forms */
  --input-font-size: 14px;
  --label-font-size: 14px;

  /* Buttons */
  --button-letter-spacing: 0.0225em;
}
