:root {
  /* Defaults from Hydrogen */
  --aside-width: 400px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 355px;
  --header-height: 64px;
  /* End Defaults from Hydrogen */

  --spacer-1: 8px;
  --spacer-2: 16px;
  --spacer-3: 24px;
  --spacer-4: 32px;
  --spacer-5: 40px;
  --spacer-6: 48px;
  --spacer-7: 56px;
  --spacer-8: 64px;
  --spacer-9: 72px;
  --spacer-10: 80px;

  --edge-space: 20px;
  @media (--medium) {
    --edge-space: 60px;
  }
  @media (--large) {
    --edge-space: 80px;
  }

  --container-spaces: var(--spacer-6) var(--edge-space) var(--spacer-8);
  --container-width: 1440px;
  --text-container-width-1: 500px;
  --text-container-width-2: 600px;
  --text-container-width-3: 700px;
  --text-container-width-4: 800px;
  --text-container-width-5: 900px;

  --background-z-index: 1;
  --midground-z-index: 2;
  --foreground-z-index: 3;
  --header-z-index: 80;
  --scrim-z-index: 90;
  --nav-menu-z-index: 100;
  --skip-link-z-index: 200;
  --animated-logo-z-index: 1000;
  --modal-z-index: 10000;
  --age-gate-z-index: 9000;
  --state-switch-z-index: 9001;

  --quanity-control-border: 2px solid var(--primary-500);

  --icon-width: 32px;
  --button-border-width: 2px;
  --input-border-width: 2px;
  --input-border-radius: 0px;
  --focus-outline: var(--focus-color) solid var(--input-border-width);
  --focus-offset: 0.2em;
  --focus-radius: 0px;
  --divider: var(--divider-color) solid 1px;

  --border-default: 2px solid var(--Maroon, #4d1c24);
}
