:root {
  /*
  IMPORTANT: These variables were pulled from the Horizon template.
  They are not used in the current codebase, but they may be useful in the future
  TODO - determine how many of these variables to keep, if any
  */

  /* Start - Vars pulled from  Horizon template */

  /* Icons */
  --icon-size-2xs: 0.6rem;
  --icon-size-xs: 0.85rem;
  --icon-size-sm: 1.25rem;
  --icon-size-md: 1.375rem;
  --icon-size-lg: 1.5rem;
  --icon-stroke-width: 2px;

  /* Input */
  --input-email-min-width: 200px;
  --input-search-max-width: 650px;
  --input-padding-y: 0.8rem;
  --input-padding-x: 0.8rem;
  --input-padding: var(--input-padding-y) var(--input-padding-x);
  --input-box-shadow-width: var(--style-border-width-inputs);
  --input-box-shadow: 0 0 0 var(--input-box-shadow-width)
    var(--color-input-border);
  --input-box-shadow-focus: 0 0 0 calc(var(--input-box-shadow-width) + 0.5px)
    var(--color-input-border);
  --input-disabled-background-color: rgb(
    from var(--color-foreground) r g b / 10%
  );
  --input-disabled-border-color: rgb(from var(--color-foreground) r g b / 5%);
  --input-disabled-text-color: rgb(from var(--color-foreground) r g b / 50%);
  --input-textarea-min-height: 55px;

  /* Borders */
  --border-color: rgba(from var(--color-border) r g b / 0.55);
  --border-width-sm: 1px;
  --border-width-md: 2px;
  --border-width-lg: 5px;

  /* Buttons */

  /* Button size */
  --button-size-sm: 30px;
  --button-size-md: 36px;
  --button-size: var(--minimum-touch-target);
  --button-padding-inline: 24px;
  --button-padding-block: 16px;

  /* Button text case */
  --button-text-case: ;
  --button-text-case-primary: title;
  /* --button-text-case-secondary: {{ settings.button_text_case_secondary }}; */

  --button-font-family-primary: var(--font-paragraph--family);
  --button-font-weight-primary: 500;

  --button-font-family-secondary: var(--font-paragraph--family);
  --button-font-weight-secondary: 500;

  /* Opacity */
  --opacity-subdued-text: 0.7;

  --shadow-button: 0 2px 3px rgba(0 0 0 / 20%);
  --gradient-image-overlay: linear-gradient(
    to top,
    rgb(from var(--color-black) r g b / 0.5),
    transparent
  );

  /* Animation */
  --ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);
  --ease-out-quad: cubic-bezier(0.32, 0.72, 0, 1);
  --animation-speed: 0.125s;
  --animation-speed-slow: 0.2s;
  --animation-speed-medium: 0.15s;
  --animation-easing: ease-in-out;
  --animation-slideshow-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --drawer-animation-speed: 0.2s;
  --animation-values: var(--animation-speed) var(--animation-easing);
  --animation-values-allow-discrete: var(--animation-speed)
    var(--animation-easing) allow-discrete;
  --animation-timing-hover: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --animation-timing-active: cubic-bezier(0.5, 0, 0.75, 0);
  --animation-timing-bounce: cubic-bezier(0.34, 1.56, 0.64, 1);
  --animation-timing-default: cubic-bezier(0, 0, 0.2, 1);
  --animation-timing-fade-in: cubic-bezier(0.16, 1, 0.3, 1);
  --animation-timing-fade-out: cubic-bezier(0.4, 0, 0.2, 1);

  /* View transitions */
  /* View transition old */
  --view-transition-old-main-content: var(--animation-speed)
    var(--animation-easing) both fadeOut;

  /* View transition new */
  --view-transition-new-main-content:
    var(--animation-speed) var(--animation-easing) both fadeIn,
    var(--animation-speed) var(--animation-easing) both slideInTopViewTransition;

  /* Focus */
  --focus-outline-width: 0.09375rem;
  --focus-outline-offset: 0.2em;

  /* Utilities */
  --backdrop-opacity: 0.15;
  --backdrop-color: var(--color-foreground);
  --minimum-touch-target: 44px;
  --disabled-opacity: 0.5;
  --skeleton-opacity: 0.025;

  /* Drawers */
  --drawer-inline-padding: 25px;
  --drawer-menu-inline-padding: 2.5rem;
  --drawer-header-block-padding: 20px;
  --drawer-content-block-padding: 10px;
  --drawer-header-desktop-top: 0rem;
  --drawer-padding: calc(var(--padding-sm) + 7px);
  --drawer-height: 100dvh;
  --drawer-width: 95vw;
  --drawer-max-width: 500px;

  /* Hover effects */
  --hover-lift-amount: 4px;
  --hover-scale-amount: 1.03;
  --hover-subtle-zoom-amount: 1.015;
  --hover-shadow-color: var(--color-shadow);
  --hover-transition-duration: 0.25s;
  --hover-transition-timing: ease-out;

  /* Modal */
  --modal-max-height: 65dvh;

  /* End - Vars pulled from  Horizon template */
}
