:root {
  --color-hop-shadow: #325329;
  --color-mills-river: #003c2a;
  --color-golden-malt: #cfb023;
  --color-dry-malt: #ceb888;
  --color-foam-white: #e8e6df;
  --color-white: #ffffff;
  --color-black: #181818;
}
