.Button,
.ButtonDarkSolid {
  font-size: var(--font-size-3);
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-mills-river);
  border: 2px solid var(--color-mills-river);
  padding: var(--size-3) var(--size-5);
  line-height: 1;

  &:hover,
  &:active {
    background-color: #00261b;
  }
}

.ButtonDarkOutline {
  font-size: var(--font-size-3);
  text-transform: uppercase;
  background-color: transparent;
  color: var(--color-mills-river);
  border: 2px solid var(--color-mills-river);
  padding: var(--size-3) var(--size-5);
  line-height: 1;

  &:hover,
  &:active {
    background-color: var(--color-white);
  }
}

.ButtonLightSolid {
  font-size: var(--font-size-3);
  text-transform: uppercase;
  background-color: var(--color-foam-white);
  color: var(--color-mills-river);
  border: 2px solid var(--color-foam-white);
  padding: var(--size-3) var(--size-5);
  line-height: 1;

  &:hover,
  &:active {
    background-color: var(--color-dry-malt);
  }
}

.ButtonLightOutline {
  font-size: var(--font-size-3);
  text-transform: uppercase;
  background-color: transparent;
  color: var(--color-foam-white);
  border: 2px solid var(--color-foam-white);
  padding: var(--size-3) var(--size-5);
  line-height: 1;

  &:hover,
  &:active {
    background-color: #00000080;
  }
}

.ButtonDarkRound {
  font-size: var(--font-size-3);
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-mills-river);
  border: 2px solid var(--color-mills-river);
  padding: var(--size-2) var(--size-3);
  border-radius: 360px;
  line-height: 1;

  &:hover,
  &:active {
    background-color: #00261b;
  }
}

.ButtonLightRound {
  font-size: var(--font-size-3);
  text-transform: uppercase;
  background-color: var(--color-foam-white);
  color: var(--color-mills-river);
  border: 2px solid var(--color-foam-white);
  padding: var(--size-2) var(--size-3);
  border-radius: 360px;
  line-height: 1;

  &:hover,
  &:active {
    background-color: var(--color-dry-malt);
  }
}

.ButtonDarkText {
  font-size: var(--font-size-3);
  text-transform: uppercase;
  background-color: transparent;
  color: var(--color-mills-river);
  border: none;
  line-height: 1;
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
  }
}

.ButtonLightText {
  font-size: var(--font-size-3);
  text-transform: uppercase;
  background-color: transparent;
  color: var(--color-foam-white);
  border: none;
  line-height: 1;
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
  }
}
