.layoutBlock {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacer-5);

  @media (min-width: 960px) {
    justify-content: center;
    align-items: stretch;
  }

  & .contentSide {
    flex: 1 1 100%;
    padding: var(--spacer-5);
    direction: column;
    justify-content: start;
    align-items: start;
    gap: var(--spacer-5);

    @media (min-width: 960px) {
      flex: 1 1 50%;
      padding: 56px;
      justify-content: center;
      align-items: var(--flexAlign);
    }

    & .contentContainer {
      text-align: left;
    }
  }
}
