/** Common section styles **/
:root {
  --section-gap: 1rem;
  --section-padding: 1rem;
}

.section {
  padding: var(--section-padding);
}

.sectionGrid {
  grid-template-columns: 1fr;
  justify-items: center;
  align-content: center;
  gap: var(--section-gap);

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }
}

.fullHeight {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
